<nav class="navbar">
    <div class="container-fluid flex-column border-bottom">
      <h1>Logo</h1>
    </div>
    <div class="container-fluid flex-column border-bottom py-2">
      <ul class="nav">
        <li class="nav-item mx-3">
          <a class="nav-link link-dark">Home</a>
        </li>
        <li class="nav-item mx-3 link-dark">
          <a class="nav-link link-dark">Link</a>
        </li>
        <li class="nav-item mx-3 link-dark">
          <a class="nav-link link-dark">Link</a>
        </li>
        <li class="nav-item mx-3 link-dark">
          <a class="nav-link link-dark">Link</a>
        </li>
      </ul>
    </div>
  </nav>
  